html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #121212;
  color: wheat;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: inherit;
}

/* UTILITY */
.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

/* MAIN LAYOUT */
.body {
  margin: 0 auto;
  max-width: 48rem;
  text-align: center;
  padding: 2rem;
}

.header-container {
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 3rem;
}

/* Layout */
.movie-img-info-container > img {
  width: max(20%, 7rem);
  height: auto;
  object-fit: cover;
}

.movie-container {
  text-align: left;
  gap: .5rem;
  border-bottom: #2C2C2C 2px solid;
  margin-bottom: 1.25rem;
}

.movie-img-info-container {
  gap: 1rem;
}

.searchbar {
  display: flex;
  margin-bottom: 2rem;
}

.searchbar > input {
  flex: 4;
}

.searchbar > button {
  flex: 1;
  border-radius: 0px 5px 5px 0;
}

.movie-info-container > * {
  margin-top: 0;
}

/* Typography */
.header-container {
  font-size: .6rem;
}

span.rating {
  font-size: .75rem;
  display: block;
}

.watchlist-link {
  text-decoration: none;
  color: inherit;
}

.move-genre {
  white-space: pre-wrap;
}



h1 {
  font-size: 1.75rem;
}

h2.movie-title {
  margin-top: 0;
}

.movie-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Components */
/* .magnifying-glass {
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-size: 1.3rem;
  position: absolute;
  top: 15%;
} */

.searchbar {
  position: relative;
}

.searchbar > * {
  background-color: hsl(0, 0%, 29%);
  padding-inline: 1.5rem;
}

.searchbar > input {
  background-color: hsl(240, 1%, 18%);
  padding: .4rem .5rem;
  border: none;
  color: hsl(0, 0%, 65%);
  border-radius: 5px 0 0 5px;
}

.searchbar > input:focus,
.searchbar > input:hover {
  border: none;
  outline: none;
}

.header-container {
  position: relative;
}

.header-container::before {
  content: "";
  position: absolute;
  left: -100%;
  right: -100%;
  top: -50%;
  bottom: -87%;
  z-index: -1;
  background-image: url("images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.movie-add-btn {
  cursor: pointer;
}

@media (min-width: 65ch) {
  body {
    color: wheat;
  }

  .movie-info-container {
    display: grid;
    width: 60%;
    grid-template:
    "title title title" min-content
    "time genre add-btn" min-content
    "desc desc desc" min-content / auto auto 1fr;
    column-gap: 1rem;
    justify-items: start;
    margin: auto 0;
  }
   
  .movie-title {
    grid-area: title;
  }

  .movie-time {
    grid-area: time;
  }

  .movie-genre {
    grid-area: genre;
  }

  .movie-add-btn {
    grid-area: add-btn;
    align-self: start;
  }

  .movie-description {
    grid-area: desc;
  }

  .movie-img-info-container > img {
    margin-bottom: 1.5em;
  }

  span.rating {
    font-size: .75rem;
    display: inline;
  }

  h1 {
    font-size: 2.75rem;
  }

  .movie-add-btn {
    width: max-content;
  }

  .watchlist-link {
    font-size: 1rem;
    cursor: pointer;
  }

  .watchlist-link:disabled {
    opacity: .5;
    background-color: red;
  }

  .header-container::before {
    bottom: -60%;
  }

  .searchbar > input {
    padding: .47rem 1rem;
  }

  input,
  button {
    font-size: 1.2rem;
  }
}