html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #121212;
  color: wheat;
}

img {
  max-width: 100%;
  display: block;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: inherit;
}

/* UTILITY */
.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

/* MAIN LAYOUT */
.body {
  margin: 0 auto;
  max-width: 50rem;
  text-align: center;
  padding: 2rem;
}

.header-container {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

/* Grid */
.movie-info-container {
  display: grid;
  width: 60%;
  border: solid pink 2px;
  grid-template:
  "title title title" auto
  "time genre add-btn" auto
  "desc desc desc" auto / auto auto 1fr;
  column-gap: 1.5rem;
  justify-items: start;
}

.movie-info-container {
  grid-template: none;
}
/* 
.movie-title {
  grid-area: title;
}

.movie-time {
  grid-area: time;
}

.movie-genre {
  grid-area: genre;
}

.movie-add-btn {
  grid-area: add-btn;
}

.movie-description {
  grid-area: desc;
} */

.movie-img-container {
  width: max(20%, 7rem);
  display: inline-block;
}

.movie-img-container > image {
  width: 100%;
}

.movie-container {
  border: solid lightblue 2px;
}

.searchbar {
  display: flex;
  margin-bottom: 3rem;
}

.searchbar > input {
  flex: 4;
}

.searchbar > button {
  flex: 1;
}

/* Typography */
.header-container {
  font-size: .6rem;
}

/* movie-time
movie-genre
add-btn
moveie-description */